 @import "tailwindcss";

 .swiper-pagination {
     bottom: 0px !important;
     text-align: center;
 }



 html {
     scroll-behavior: smooth;
 }



 .swiper-pagination {
  position: relative !important;
  margin-top:20px;
  padding: 10px;
}